*{
	margin: 0;
	padding: 0;
}
body {
	color: #fff;
	font-family: 'Roboto';
	font-size: 18px;
	background-color: #dddddd;
}
/*HEADER*/
header {
	background-color: #3a7dfd;
    background-image: -webkit-linear-gradient(327deg, #3a7dfd 0%, #1157db 100%);
    background-image: -o-linear-gradient(327deg, #3a7dfd 0%, #1157db 100%);
    background-image: linear-gradient(57deg, #3a7dfd 0%, #1157db 100%);
	padding-top: 59px;
	padding-bottom: 22px;
}
.headpretitle{
	margin-top: 102px;
	font-weight: 700;
}
.headtitle{
	margin-top: 21px;
	font-style: 48px;
	font-weight: 700;
	line-height: 36.81px;
}
.headsubtitle{
	margin-top: 20px;
	font-weight: 400;
}
.headbtncontent{
	max-width: 184px;
	text-align: center;
}
.headbtn{
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	margin-top: 33px;
	margin-bottom: 9px;
	padding: 15px 55px;
	box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
	border-radius: 25px;
	background-color: #fff;
	color: #072b6f;
	font-weight: 700;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.headbtn:hover{
	color: #1163ff;
	background-color: #f5f5f5;
	box-shadow: 5px 10px 34px 6px rgba(127, 170, 255, 0.83);
}
.headbtn:active{
	transform: translate(3px);
	box-shadow: none;
}
header small{
	font-size: 12px;
	font-weight: 400;
	display: block;
}
/*BODY*/
.pfblock{
	background-color: #fff;
	margin-top: 44px;
	padding-top: 29px;
	padding-bottom: 31px;
	margin-bottom: 71px;
}
.pfblock img{
	width: 100%;
}
.pfblock h1{
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	margin-bottom: 10px;
	text-align: center;
	color: #072b6f;;
}
.pfsubtitle{
	color: #7bb9ff;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 30px;
	text-align: center;
}
.pfcol-left{
	margin-left: 50px;
}
.pfcol-right{
	margin-right: 50px;
}
.pfblock h2{
	margin-top: 16px;
	margin-bottom: 20px;
	color: #072b6f;
	font-weight: 700;
	text-transform: uppercase;
}
.pfblock p{
	color: #8f8f8f;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 19px;
	word-wrap: break-word;
}
.pfblock a{
	color: #072b6f;
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
}
.pfblock a:hover {
	color: #ff0000;
}

/*FOOTER*/
footer{
	padding-top: 60px;
	padding-bottom: 110px;
	background-color: #3a7dfd;	
	line-height: 40px;
}
.upblock{
	float:right;
	transform: rotate(45deg);
	margin-top: -100px;
	padding-top: 10px;
	padding-left: 10px;
	width: 82px;
	height: 82px;
	box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.41);
	background-color: #3a7dfd;
}
.upblock2{
	width: 63px;
	height: 63px;
	background-color: #1e5cd3;
	text-align: center;
}
.up{
	display: block;
	transform: rotate(-45deg);
	margin: auto;
	width: 82px;
	height: 82px;
	font-size: 40px;
	text-decoration: none;
	color: #fff;

}
.footer-title{
	color: #fefefe;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 6px;
}
footer p{
	color: #deedfe;
	font-weight: 400;
}
.socialbar{
	text-align: center;
}
.socialbar p{
	margin-bottom: 21px;
}
.socialbar a{
	display: inline-block;
	margin-left: 13px;
	margin-right: 13px;
}
.socialbar a:hover{
	border-bottom: 1px inset white;
}
.footer-smblock{
	text-align: center;
}
.footer-smblock a{
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	margin-top: 11px;
	padding: 13px 40px;
	background-color: transparent;
	border-radius: 24px;
	border: 1px solid #ffffff;
	color: #deedfe;
	font-size: 18px;
	font-weight: 400;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.footer-smblock a:hover{
	background-color: #fff;
	color: #3a7dfd;
}
.footer-smblock a:active{
	transform: translate(3px);
	box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.41);
}

/*ADAPTIVE*/
@media (max-width: 1200px){
.headpretitle {
    margin-top: 60px;
}
}

@media (max-width: 992px){
.header-logo{
	display: none;
}
.headpretitle{
	margin-top: 1px;
}
.socialbar img{
	width: 30px;
}
.socialbar a{
	margin-left: 5px;
	margin-right: 5px;
}
.footer-smblock a{
	padding: 10px 30px;
}
.footer-title{
	margin-bottom: 16px;
}
}

@media (max-width: 768px){
.pfcol-left {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
}
.pfcol-right{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
}
.footer-title, .footer-text{
	text-align: center;
}
.footer-title {
	margin-bottom: 0px;
}
.footer-text {
	margin-bottom: 10px;
}
.socialbar p{
	margin-bottom: 10px;
}
footer{
	padding-bottom: 50px;
}
}